/* General Styles */
:root {
  --main-color: radial-gradient(rgb(0, 132, 255), rgba(82, 174, 250, 0.671));
  --second-color: radial-gradient(
    rgba(0, 132, 255, 0.973),
    rgba(82, 174, 250, 0.473)
  );
  --third-color: radial-gradient(
    rgba(0, 132, 255, 0.904),
    rgba(82, 174, 250, 0.274)
  );

  --main-bg: linear-gradient(#333744, #0f1014);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1;
  color: #242424;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 16px;
  cursor: default;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 15px;
  border-radius: 30px;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms;
}
input:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}
input:focus {
  opacity: 0.7;
}

button {
  border-radius: 20px;
  cursor: pointer;
  padding: 12px;
  background: var(--main-color);
  border: none;
  color: white;
  font-size: 16px;
  transition: background 300ms ease;
}

button:hover {
  background: var(--second-color);
}

button:disabled {
  cursor: default;
  background: var(--third-color);
}

/* Join Page Styles */

.centered-form {
  background: var(--main-bg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: 0px 0px 25px #0000004d, 0px 0px 70px #ffffff4b;
  background: #f7f7fa;
  padding: 24px;
  width: 250px;
  z-index: 9999;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

/* Chat Page Layout */

.chat {
  display: flex;
  background: var(--main-bg);
}

.chat__sidebar {
  cursor: default;
  height: 100vh;
  color: white;
  background: var(--main-bg);
  width: 225px;
  overflow-y: scroll;
}

/* Chat styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  border-radius: 15px;
  transition: all 400ms ease-in-out;
}

.message:hover {
  transform: scale(1.02);
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #008a0b;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}

.compose button {
  font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #22252e;
  padding: 18px;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  transition: all 500ms;
}
.room-title:hover {
  border-bottom: 5px solid rgb(255, 255, 255);
}
.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}
.dot {
  margin-top: 4px;
  margin-right: 4px;
  float: left;
  background-color: green;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.users {
  list-style-type: none;
  font-weight: 250;
  padding: 12px 24px 0 24px;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar-track {
  border: 1px solid rgba(204, 204, 204, 0.158);
  background-color: #0000005e;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #0000005e;
}

::-webkit-scrollbar-thumb {
  background-color: #0000005e;
}
